.dark-blue-text {
    color: #2C3E50;
}

.dark-blue-background {
    background-color: #2C3E50;
}

.dark-blue-background.btn:hover {
    background-color: #2980B9;
}

.red-text {
    color: #E74C3C;
}

.red-background {
    background-color: #E74C3C;
}

.red-background.btn:hover {
    background-color: #eb6f62;
}

.white-text {
    color: #ECF0F1;
}

.white-background {
    background-color: #ECF0F1;
}

.light-blue-text {
    color: #3498DB;
}

.light-blue-background {
    background-color: #3498DB;
}

.blue-text {
    color: #2980B9;
}

.blue-background {
    background-color: #2980B9;
}
